{% block sidebar %}

<style>
        .card{
            box-shadow: 0 ;
            
        }
       
</style>

<!-- Sidebar Widgets Column -->

<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
    <p>Welcome to our page. Our page is help to post blogs in many categories. anyone can post their own blog in this page if you have any knowledge about blog you can post your blog in this page.</p>
    
   
        
        
     
    </div>
</div>

</div>

{% endblock sidebar %}